#result {
  display: inline-block;
  width: 1920px;
}

#result ul {
  list-style-type: none;
}

#result li span {
  display: inline-block;
  width: 6em;
}

#result li span.value {
  text-align: right;
  width: 3em;
}

#result ul ul li {
  display: inline-block;
  width: 13em;
  text-align: left;
}
