<link rel="import" href="./../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/iron-image/iron-image.html">

<dom-module id="user-card">
  <template>
    <style>
      :host {
        display: block;
      }

      iron-image {
        float: left;
        height: 75px;
        width: 75px;
      }

      .card {
        width: 100%;
        display: grid;
        grid-template-columns: 90px 6em 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "image namelabel name"
          "image emaillabel email"
          "image addresslabel address"
      }

      .card .image {
        grid-area: image;
      }

      .card .namelabel {
        grid-area: namelabel;
      }

      .card .name {
        grid-area: name;
      }

      .card .email {
        grid-area: email;
      }

      .card .emaillabel {
        grid-area: emaillabel;
      }

      .card .address {
        grid-area: address;
      }

      .card .addresslabel {
        grid-area: addresslabel;
      }
    </style>
    <div class="card">
      <div class="image">
        <iron-image src$="[[user.picture.large]]" sizing="contain"></iron-image>
      </div>
      <div class="namelabel">Navn:</div>
      <div class="name">[[user.name.title]] [[user.name.first]] [[user.name.last]]</div>
      <div class="emaillabel">Epost:</div>
      <div class="email">[[user.email]]</div>
      <div class="addresslabel">Adresse</div>
      <div class="address">
        [[user.location.street]]<br>
        [[user.location.city]]<br>
        [[user.location.state]] [[user.location.postcode]]
      </div>
    </div>
  </template>

  <script>
    /**
     * `user-card`
     * Used to show information about a single user
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class UserCard extends Polymer.Element {
      static get is() { return 'user-card'; }
      static get properties() {
        return {
          user: {
            type: Object
          }
        };
      }
    }

    window.customElements.define(UserCard.is, UserCard);
  </script>
</dom-module>
