<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File successfully uploaded</title>
</head>
<body>
  <h1>File successfully uploaded</h1>
  <p>File <b>{{fname}}</b> was successfully uploaded, {{ size }} bytes is stored in the database.</p>
  <p>Back to <a href="index.php">file overview</a> or <a href="upload.php">upload another file</a>.</p>
</body>
</html>
