<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alle kontakter i registeret</title>
  <link rel="stylesheet" href="css/contacts.css">
</head>
<body>
  <a href="index.html">Tilbake til hovedsiden</a>
  <h1>Alle kontakter i registeret</h1>
  {% include 'contactList.html' %}
</body>
</html>
