body {
  padding: 0;
  margin: 0;
}

.firstContainer div {
  background: blue;
  padding: 5px;
}

.firstContainer {
  display: grid;
  height: 75vh;
  grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
  grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  border: 1px solid red;
}

.div1 {
  grid-column-start: five;
  grid-column-end: end;
  grid-row: third-line / last-line;
  background: yellow !important;
}

.div2 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: green !important;
}

.div3 {
  grid-column: 3/4;
  grid-row: 1/3;
  background: red !important;
}

.div4 {
  grid-column: col4-start / five;
  grid-row: 2/3;
  color: white;
}

.div5 {
  grid-column: first/2;
  grid-row: 3/4;
  color: white;
}
