.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.flexcol {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
.wrapper>div {
  min-width: 600px;
}

.padded {
  margin: 10px;
}

.wrapper>div h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.wrapper>div>p {
  margin-bottom: 0px;
}

.wrapper>div textarea {
  white-space: nowrap;
  overflow: auto;
  width: 600px;
  height: 300px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 15px 18px;
  padding-top: 5px;
}

.wrapper>div textarea.smaller {
  width: 250px;
  height: 130px;
}

.itemOptions {
  margin-left: 140px;
  background: #EEE;
  padding: 15px;
  border-radius: 6px 6px 6px 6px;
  padding-bottom: 2px;
  padding-top: 10px;
}
