<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laboppgave 2, uke 3</title>
</head>
<body>
  <h1>Pins matching search "{{ search }}"</h1>
  {% for pin in pins %}
    <img src="{{ pin }}" alt="pinterest pin">
  {% endfor %}
</body>
</html>
