<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Laboppgave 3, uke 3</title>
  <style>

    @media (min-width:470px) {
      .pins {
        width: 450px;
        padding: 0;
        margin: 0 auto;
        column-count: 2;
      }
    }

    @media (min-width:750px) {
      .pins {
        width: 700px;
        padding: 0;
        margin: 0 auto;
        column-count: 3;
      }
    }

    @media (min-width:1000px) {
      .pins {
        width: 950px;
        padding: 0;
        margin: 0 auto;
        column-count: 4;
      }
    }

    @media (min-width:1250px) {
      .pins {
        width: 1200px;
        padding: 0;
        margin: 0 auto;
        column-count: 5;
      }
    }

    @media (min-width:1500px) {
      .pins {
        width: 1450px;
        padding: 0;
        margin: 0 auto;
        column-count: 6;
      }
    }
    .pins>div {
      padding: 4px;
    }
  </style>
</head>
<body>
  <h1>Pins matching search "{{ search }}"</h1>
  <div class="pins">
    {% for pin in pins %}
      <div>
        <img src="{{ pin }}" alt="pinterest pin">
      </div>
    {% endfor %}
  </div>
</body>
</html>
